<a href="https://colab.research.google.com/github/ngriggs/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Day_2_Coding_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np


# load in data
df = pd.read_csv('https://raw.githubusercontent.com' +
'/edwardauron/LambdaCodeChallenges/master/fake_housing_data.csv', index_col=0)

# run me before coding to explore dataset
print(df.head())

def boolean_filter(dataframe):
    pass

    price  age  num_bathrooms pets_allowed state
0  357453   35              2          yes    NH
1  390604    9              4          yes    IN
2  567497    5              1           no    WV
3  343231   37              1          yes    WA
4  603930   24              3           no    DE

In [0]:
# Boolean expressions are statements that evaluate as either true or false.
# For example "Today is Christmas" would evaluate as false on every day 
# execpt December 25th

You want:

*   A home that is less than 20 years old.
*   A home with more than one bathroom.
*   A home that meets your budget (<=$550000).

In [0]:
def boolean_filter(dataframe):
  is_under_20 = dataframe['age'] < 20
  num_bathroom_over_one = dataframe['num_bathrooms'] > 1
  in_budget = dataframe['price'] <= 550000
  
  return dataframe[is_under_20 & num_bathroom_over_one & in_budget]

In [6]:
boolean_filter(df).head()

     price  age  num_bathrooms pets_allowed state
1   390604    9              4          yes    IN
18  383494   19              3           no    OH
23  494893    1              3           no    NV
28  368678   15              2           no    HI
30  370983    3              2          yes    UT

In [0]:
df1 = df.copy()

In [9]:
df1['Possible_Dream_Home'] = df1.index.isin(boolean_filter(df).index)
df1.head()

    price  age  num_bathrooms pets_allowed state  Possible_Dream_Home
0  357453   35              2          yes    NH                False
1  390604    9              4          yes    IN                 True
2  567497    5              1           no    WV                False
3  343231   37              1          yes    WA                False
4  603930   24              3           no    DE                False

In [11]:
df.where(boolean_filter(df).index)

ValueError: ignored